.card {
  background: #fef2e4;
  width: 100%;
  padding: 1rem 2rem;
  color: #222;
  position: relative;
}

.card__info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin-top: 1.5rem;
}

.max__min {
  display: flex;
  gap: 0.25rem;
}

.max__min img {
  width: 25px;
}

.close__icon {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 40px;
}

.next__days {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
}

.next__days img {
  width: 15px !important;
}
